{%extends 'base.html'%}
{%block body_block%}
<header class="global-navigation">
        <nav class="navbar navbar-light bg-faded justify-content-between">
            <form class="form-inline search" method="GET" action="{{url_for('books')}}">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <a href="{{url_for('logout')}}" class="btn btn-warning logout">Logout</a>
        </nav>

</header>

<div class="content col-lg-12">
    {%if books%}
    <div class="card-wrapper">
        {%for book in books%}
            <div class="card col-sm-3 col-md-12" style="width: 20rem;">
                    <img class="card-img-top" id="{{book.isbn}}" src="..." alt="cover not available">
                    <div class="card-block">
                        <h4 class="card-title">{{book.title}}</h4>
                        <h4 class="isbn">ISBN No :{{book.isbn}}</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
            </div>
            <script>
                    $(document).ready(function(){
                            var isbn ="{{book.isbn}}"
                                $.ajax({
                                    dataType: 'json',
                                    url: 'https://www.googleapis.com/books/v1/volumes?q=isbn:' + isbn+"&key="+BOOK_API_KEY,
                                    success: handleResponse
                                    
                                    });
                                function handleResponse( response ) {
                                $.each( response.items, function( i, item ) {
                                    thumb = item.volumeInfo.imageLinks.thumbnail;
                                    $('#{{book.isbn}}').attr('src', thumb);
                                });
                              }
                        })
            </script>
        {%endfor%}
    </div>
        
    {%endif%}
</div>
{%endblock%}
